<div class="login-container">
  <div class="login-card">
    <h1 class="login-title">Login</h1>
    
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Please enter a valid email">
          <input nz-input formControlName="email" placeholder="Email" type="email">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzHasFeedback nzErrorTip="Please enter your password">
          <input nz-input formControlName="password" placeholder="Password" type="password">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <button 
            nz-button 
            nzType="primary" 
            [disabled]="!validateForm.valid"
            [nzLoading]="isLoading"
            style="width: 100%;"
          >
            Log In
          </button>
        </nz-form-control>
      </nz-form-item>

      <div class="login-footer">
        Don't have an account? <a routerLink="/register">Register</a>
      </div>
    </form>
  </div>
</div>