
/* header.component.less */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 64px;
    line-height: 64px;
  
    .nav-links {
      margin-right: 50px;
  
      a {
        color: white;
        margin-left: 16px;
        text-decoration: none;
  
        &:hover {
          opacity: 0.8;
        }
  
        &.active {
          font-weight: bold;
          border-bottom: 2px solid white;
        }
      }
    }
  }